main.promo-table {
  margin: 16px;
  --border: #e7e7e7 solid 1px;
  border: var(--border);
}
main.promo-table .student.header .sort-button {
  user-select: none;
  cursor: pointer;
}
main.promo-table .student.header.copy {
  user-select: none;
  cursor: pointer;
  height: 40px;
}
main.promo-table .student.header.copy > * {
  padding: 0;
}
main.promo-table .student {
  height: 80px;
  align-items: stretch;
} 
main.promo-table .student.has-extra-comment {
  background-color: #ff9;
} 
main.promo-table .student.has-note-z {
  background-color: #ffdadd;
  color: #f30045;
} 
main.promo-table .student + .student {
  border-top: var(--border);
}
main.promo-table .student > * {
  padding: 8px;
  text-align: center;
}
main.promo-table .student > * + * {
  border-left: var(--border);
}

main.promo-table .student .name {
  flex: 0 0 160px;
}
main.promo-table .student .link {
  font-size: 10px;
  flex: 0 0 200px;
  overflow: hidden;
  line-break: anywhere;
}
main.promo-table .student .comment {
  text-align: center;
}
main.promo-table .student .extra-comment {
  text-align: center;
  flex: 0 0 140px;
}
main.promo-table .student .note {
  flex: 0 0 60px;
}
main.promo-table .student .note-abc {
  font-size: 16px;
}
main.promo-table .student .note-20 {
  font-size: 12px;
}
