@import url(../style/style.css);

body {
  padding: 0;
}

header, footer {
  padding: 64px;
}

main {
  margin: 16px;
  --border: #ccc solid 1px;
  border: var(--border);
}
main .student.header .sort-button {
  user-select: none;
  cursor: pointer;
}
main .student {
  height: 100px;
  align-items: stretch;
} 
main .student.has-extra-comment {
  background-color: #ff9;
} 
main .student + .student {
  border-top: var(--border);
}
main .student > div {
  padding: 8px;
  text-align: center;
}
main .student > div + div {
  border-left: var(--border);
}

main .student .name {
  flex: 0 0 160px;
}
main .student .link {
  font-size: 10px;
  flex: 0 0 200px;
  overflow: hidden;
  line-break: anywhere;
}
main .student .comment {
  text-align: center;
}
main .student .extra-comment {
  text-align: center;
  flex: 0;
}
main .student .note {
  flex: 0 0 60px;
}
main .student .note-abc {
  font-size: 16px;
}
main .student .note-20 {
  font-size: 10px;
}
